.DS_Store

mysql/init/*.sql
mysql/init/*.sh
mysql/data
mysql/backup/*.sql
nginx/conf.d/**/*.conf
nginx/conf.d/**/*.*passwd
nginx/conf.d/**/*.json
nginx/ssl/**/*.key
nginx/ssl/**/*.pem
nginx/ssl/**/*.json
www/phpmyadmin

.idea
.env
.pmapasswd

/test.sh

0]

composer.lock