.DS_Store

nginx
vendor

mysql/init/*.sql
mysql/init/*.sh
mysql/data
mysql/backup/*.sql
**/conf.d/**/*.conf
**/conf.d/**/*.*passwd
**/conf.d/**/*.json
**/ssl/**/*.key
**/ssl/**/*.pem
**/ssl/**/*.json
www/phpmyadmin

.idea
.env
.pmapasswd

/test.sh

0]

composer.lock